version: '3.1'

services:
  rabbitmq:
    container_name: "rabbitmq"
    hostname: "rabbitmq"
    ports:  
         - "15672:15672"  
         - "5672:5672"     
    labels:       
       NAME: "rabbitmq"
    image: rabbitmq:3.8.3-alpine

  master:
    container_name: "master"
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "sleep 20 && python worker.py"
    ports:
      - "8001:8000"
    volumes:
    - .:/code
    links:
    - rabbitmq
    depends_on:
    - rabbitmq
    restart: on-failure

  


  orchestrator:
    container_name: "orchestrator"
    build:
        context: .
        dockerfile: Dockerfile
    command: sh -c "sleep 15 && python orchestrator.py"
    ports:
      - "8000:8000"
    volumes:
        - .:/code
        - /var/run/docker.sock:/var/run/docker.sock
    links:
    - rabbitmq
    depends_on:
    - rabbitmq
    restart: on-failure 





  
